div {
    width: 250px;
    height: 500px;
    display: inline-block;
    font-size: 1em;
}

#col-1 {
    background-color: gray;
}

#col-2 {
    background-color: gray;
}

#col-3 {
    background-color: gray;
    line-height: 3em;
}

header {
    background-color: gray;
    width: 62%;
    height: 400%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

#p-1 {
    line-height: 5em;
}

#p-2 {
    font-size: 3vw;
}

#p-3 {
    line-height: 14vh; 
}



footer {
    background-color: gray;
    width: 760px;
}
